/* Tablet */
@media all and (max-width: 1000px) {
    .foto {
        width: 300px;
        height: 300px;
    }

    .deskripsi {
        padding: 10% 80px;
    }

    .header {
        padding: 20px 80px;
    }

    .container {
        height: 45%;
        margin: 190px 80px;
    }

}

/* Smartphone */
@media all and (max-width: 800px) {
    .menu-icon {
        display: block;
    }
    
    .header {
        padding: 20px 5%;
    }

    .header .navigation {
        display: none;
    }

    .foto {
        width: 300px;
        height: 300px;
    }

    .deskripsi {
        padding: 10% 5%;
        display: block;
    }
    
    .about {
        width: 100%;
        padding-top: 10%;
    }

    .foto {
        margin: auto;
    }
    
    .container {
        height: 45%;
        margin: 40% 5%;
    }

}