html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(128, 128, 138);
    background-image: url(../Assets/Background.png);
}

.header .logo {
    color: white;
    float: left;
    font-size: 18px;
    padding-top: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background:#2c2c2c;
    padding: 20px 120px;
}

.header .navigation {
    float: right;
}

.header .navigation li {
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;
}

.header .navigation li a {
    color: #fff;
    text-decoration: none;
}

.header .navigation li a:hover {
    color: rgb(24, 215, 240);
    text-decoration: underline;
}

.menu-icon {
    color: #FFFF;
    float: right;
    font-size: 40px;
    padding: 20px 20px;
    display: none;
    margin-top: -50px;
}

.deskripsi {
    padding: 10% 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.about {
    font-size: 25px;
    width: 50%;
    margin: auto 0;
}

h3 {
    color:#1139c9;
}

.foto {
    background: rgb(75, 69, 69);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-image: url(../Assets/MySelf.png);
    background-size: cover;
}

footer {
    background:#2c2c2c;
    width: 100%;
    font-family: open sans-serif;
    padding-top: 40px;
    color: #fff;
    position: absolute;
}


.footer-bottom {
    background: rgb(30, 26, 36);
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

footer ul li {
    list-style: none;
    align-self: flex-end;
}

footer ul li a{
    text-decoration: none;
    color: #c1c6ce;
}

footer ul li img {
    width: 30%; 
}

footer p {
    font-size: 0.8em;
}

.icon {
    position: absolute;
    top: 22px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.icon a {
    margin: 5px;
    text-decoration: none;
}

.container {
    height: 45%;
    font-size: 25px;
    margin: 190px 120px;
}

.buttonBg {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #1139c9;
    border: 1px #1139c9 solid;
    padding: 0.5em 1em;
    border-radius: 30px;
    margin: 1em 0;
    transition: 0.3s;
}
    
.buttonBg:hover {
    color: rgb(24, 215, 240);
    background: #1139c979;
    border: 1px solid #1139c9;
}